Untitled.ipynb
token_github
cuda-repo-ubuntu2004-12-5-local_12.5.1-555.42.06-1_amd64.deb
code.zip
Texmacs
*.pkl
*.pdf
*.ipynb
*.csv
*.nc
*.txt
*.zip
real_data/Second_scenario/MRA_codeAndData
real_data/Second_scenario/MRA_codeAndData
*.tar
.vscode
__pycache__
*.png
*.pdf
test
expriements/centralized

dis_spatial.egg-info
dis_spatial
expriements/decentralized/prediction/exp copy.py
expriements/decentralized/prediction/exp_pred.py
expriements/decentralized/varying_machine_number/results_eff.py
expriements/decentralized/varying_machine_number/round_estimation.py
expriements/decentralized/varying_network/results_eff.py
expriements/decentralized/estimating_nu/exp_nu_penguin.py
real_data/Second_scenario/time_com_varying_m/initial_fixed
real_data/real_debug.py
real_data/real_penguin.py
real_data/real_plot.py
real_data/real_depreciated.py
real_data/real_MRA_time_com.py
real_data/First_scenario/estimate_nu/exp_nu_test.py
real_data/First_scenario/CI/real_confidence_interval_nu_inf.py
real_data/First_scenario/estimation/estimation_compare.py
real_data/First_scenario/estimation/estimation_nu_inf.py
real_data/Second_scenario/RMSPE_varying_m/prediction_plot_nu_inf.py
real_data/Second_scenario/RMSPE_varying_m/prediction_varying_m_nu_inf.py
real_data/Second_scenario/time_com_varying_J/time_com_plot_nu_inf.py
real_data/Second_scenario/time_com_varying_J/time_com_vary_J_nu_inf_debug.py
real_data/Second_scenario/time_com_varying_J/time_com_vary_J_nu_inf.py
real_data/Second_scenario/time_com_varying_m/time_com_varing_m_nu_inf.py
expriements/decentralized/estimating_nu/from_shaheen/plot.py
expriements/decentralized/estimating_nu/exp_nu_debug_larger_l.py
expriements/decentralized/estimating_nu/exp_nu_debug_smaller_l.py
expriements/decentralized/estimating_nu/exp_nu_debug.py
expriements/decentralized/misspecified/exp.py
expriements/decentralized/time_comparison/exp.py
expriements/decentralized/time_comparison/varying_N_fixed_J.py
expriements/decentralized/Unequal_sample_size/results_eff.py
expriements/decentralized/varying_parameter/results_eff.py
expriements/decentralized/varying_parameter/exp_test.py
real_data/Second_scenario/RMSPE_varying_m/prediction_plot.py
expriements/decentralized/misspecified/exp_mis_correct.py


!expriements/decentralized/estimating_nu/plot_nu_0.5.ipynb
!expriements/decentralized/HessianP/plot.ipynb
!expriements/decentralized/misspecified/plot.ipynb
!expriements/decentralized/partition/plot.ipynb
!expriements/decentralized/partition/visual_partition.ipynb
!expriements/decentralized/prediction/noise_sqrt(0.1)/plot.ipynb
!expriements/decentralized/time_comparison/plot.ipynb
!expriements/decentralized/varying_network/more_irregular/plot.ipynb
!expriements/decentralized/varying_network/more_irregular/sparse/plot.ipynb
!expriements/decentralized/varying_parameter/more_irregular/plot.ipynb
!expriements/decentralized/varying_rank/more_irregular/plot.ipynb
!expriements/decentralized/varying_sample_size/more_irregular/plot.ipynb
!real_data/First_scenario/estimation/estimation_and_plot.ipynb
!real_data/Second_scenario/RMSPE_varying_m/plot.ipynb
!real_data/Second_scenario/time_com_varying_J/plot.ipynb
!real_data/Second_scenario/time_com_varying_m/plot.ipynb