Untitled.ipynb
token_github
cuda-repo-ubuntu2004-12-5-local_12.5.1-555.42.06-1_amd64.deb
code.zip
Texmacs
*.pkl
*.pdf
*.ipynb
*.csv
*.nc
*.txt
*.zip
real_data/Second_scenario/MRA_codeAndData
real_data/Second_scenario/MRA_codeAndData
*.tar
.vscode
__pycache__
*.png
*.pdf
test
expriements/centralized

dis_spatial.egg-info
dis_spatial
expriements/decentralized/prediction/exp copy.py
expriements/decentralized/prediction/exp_pred.py
expriements/decentralized/varying_machine_number/results_eff.py
expriements/decentralized/varying_machine_number/round_estimation.py
expriements/decentralized/varying_network/results_eff.py
expriements/decentralized/estimating_nu/exp_nu_penguin.py
real_data/Second_scenario/time_com_varying_m/initial_fixed
real_data/real_debug.py
real_data/real_penguin.py
real_data/real_plot.py
real_data/real_depreciated.py
real_data/real_MRA_time_com.py
real_data/First_scenario/estimate_nu/exp_nu_test.py
